services:
  postgres:
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    command:
      - -c
      - log_statement=all
      - -c
      - log_destination=stderr
      - -c
      - tcp_keepalives_idle=60
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
      PGDATA: /var/lib/postgresql/18/docker
    tmpfs:
      - /var/lib/postgresql/18/docker:rw,uid=70,gid=70
